Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

markdownlint:
  run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}

prettier:
  run: npx prettier@3.1.0 --write {staged_files}
  stage_fixed: true

ruff-lint:
  run: uvx ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uvx ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run -- mypy src/gac --strict

feat(ai-utils): add reasoning token estimation helpers
  src/gac/ai_utils.py
  tests/test_ai_utils.py
Due: ruff-lint, ruff-format, mypy

feat(providers): normalize reasoning usage across Anthropic-compatible and ChatGPT OAuth responses
  src/gac/providers/base.py
  src/gac/providers/chatgpt_oauth.py
  src/gac/providers/custom_anthropic.py
  tests/providers/test_base.py
  tests/providers/test_chatgpt_oauth_provider.py
  tests/providers/test_custom_anthropic.py
Due: ruff-lint, ruff-format, mypy

fix(ai_utils): ignore whitespace-only reasoning when estimating tokens
  src/gac/ai_utils.py
  tests/test_ai_utils.py
Due: ruff-lint, ruff-format, mypy

feat(postprocess): support extracting and stripping think tags
  src/gac/postprocess.py
  tests/test_postprocess.py
Due: ruff-lint, ruff-format, mypy

feat(providers): estimate reasoning tokens from embedded think tags
  src/gac/providers/base.py
  src/gac/providers/gemini.py
  src/gac/providers/lmstudio.py
  src/gac/providers/ollama.py
  tests/providers/test_base.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.24.0 to 3.24.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

fix: improve guidance for missing staged changes
  AGENTS.md
  src/gac/git_state_validator.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

feat: add interactive staging TUI for selective file staging
  src/gac/cli.py
  src/gac/main.py
  src/gac/staging_tui.py
  src/gac/staging_tui_app.py
  src/gac/workflow_context.py
  tests/test_staging_tui.py
Due: ruff-lint, ruff-format, mypy

build(deps): add textual>=0.80.0 as a core dependency
  pyproject.toml
Due: none

refactor(staging): unify git command execution and broaden status handling
  src/gac/staging_tui.py
  src/gac/staging_tui_app.py
  tests/test_staging_tui.py
Due: ruff-lint, ruff-format, mypy

feat(staging): add git status parsing and staging helpers
  src/gac/staging_tui.py
  tests/test_staging_tui.py
Due: ruff-lint, ruff-format, mypy

feat(staging): add interactive TUI for staging files
  src/gac/staging_tui.py
Due: ruff-lint, ruff-format, mypy

fix(staging): keep tree labels in sync without rebuilding
  src/gac/staging_tui.py
  tests/test_staging_tui.py
Due: ruff-lint, ruff-format, mypy

fix(preprocess): recognize uv lockfiles as generated
  src/gac/preprocess.py
  tests/test_preprocess.py
Due: ruff-lint, ruff-format, mypy

feat(cli): add interactive staging workflow
  src/gac/cli.py
  src/gac/main.py
  src/gac/staging_tui.py
  src/gac/workflow_context.py
Due: ruff-lint, ruff-format, mypy

build(deps): refresh locked dependencies
  uv.lock
Due: none

chore(version): bump version from 3.24.1 to 3.24.2
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs: add --stage/-S flag to all documentation translations
  README.md
  docs/de/README.md
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/README.md
  docs/es/USAGE.md
  docs/fr/README.md
  docs/fr/USAGE.md
  docs/hi/README.md
  docs/hi/USAGE.md
  docs/it/README.md
  docs/it/USAGE.md
  docs/ja/README.md
  docs/ja/USAGE.md
  docs/ko/README.md
  docs/ko/USAGE.md
  docs/nl/README.md
  docs/nl/USAGE.md
  docs/no/README.md
  docs/no/USAGE.md
  docs/pt/README.md
  docs/pt/USAGE.md
  docs/ru/README.md
  docs/ru/USAGE.md
  docs/sv/README.md
  docs/sv/USAGE.md
  docs/vi/README.md
  docs/vi/USAGE.md
  docs/zh-CN/README.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/README.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

feat(staging): Textual-based interactive file selector (gac -S) (#73)
  README.md
  docs/de/README.md
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/README.md
  docs/es/USAGE.md
  docs/fr/README.md
  docs/fr/USAGE.md
  docs/hi/README.md
  docs/hi/USAGE.md
  docs/it/README.md
  docs/it/USAGE.md
  docs/ja/README.md
  docs/ja/USAGE.md
  docs/ko/README.md
  docs/ko/USAGE.md
  docs/nl/README.md
  docs/nl/USAGE.md
  docs/no/README.md
  docs/no/USAGE.md
  docs/pt/README.md
  docs/pt/USAGE.md
  docs/ru/README.md
  docs/ru/USAGE.md
  docs/sv/README.md
  docs/sv/USAGE.md
  docs/vi/README.md
  docs/vi/USAGE.md
  docs/zh-CN/README.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/README.md
  docs/zh-TW/USAGE.md
  pyproject.toml
  src/gac/cli.py
  src/gac/main.py
  src/gac/staging_tui.py
  src/gac/workflow_context.py
  tests/test_staging_tui.py
  uv.lock
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

chore(version): bump version from 3.24.2 to 3.25.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

test: improve coverage from ~91% to 94%
  tests/oauth/test_chatgpt_oauth.py
  tests/oauth/test_claude_code_oauth.py
  tests/test_ai_utils.py
  tests/test_auth_cli.py
  tests/test_git.py
  tests/test_init_cli.py
  tests/test_prompt.py
  tests/test_prompt_cli.py
  tests/test_report_cli.py
  tests/test_staging_tui.py
  tests/test_stats_cli.py
  tests/test_stats_core.py
  tests/test_workflow_utils.py
Due: ruff-lint, ruff-format

fix(providers): handle reasoning content fields and false zero tokens
  src/gac/providers/base.py
  tests/providers/test_base.py
Due: ruff-lint, ruff-format, mypy

test(stats): add unit tests for model reset CLI and core functions
  tests/test_stats_cli.py
  tests/test_stats_core.py
Due: ruff-lint, ruff-format

feat(stats): add model-level statistics reset with case-insensitive matching
  src/gac/stats/__init__.py
  src/gac/stats/store.py
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

test(model): add comprehensive CLI tests for provider configuration
  tests/test_model_cli.py
Due: ruff-lint, ruff-format

docs(agents): add strict guidance for protecting user data
  AGENTS.md
Due: markdownlint, prettier

docs(usage): document per-model stats reset command
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

chore(version): bump version from 3.25.0 to 3.26.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

test(core): add coverage for editor, staging TUI, and MCP utilities
  tests/test_editor_coverage.py
  tests/test_mcp_utils_coverage.py
  tests/test_staging_tui_coverage.py
Due: ruff-lint, ruff-format

test(oauth): add coverage for OAuth flows and provider streaming
  tests/oauth/test_base_oauth_coverage.py
  tests/oauth/test_copilot_coverage.py
  tests/providers/test_chatgpt_oauth_coverage.py
Due: ruff-lint, ruff-format

docs(readme): add Kittylog changelog badge to all docs
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

docs: update CHANGELOG.md [kittylog]
  CHANGELOG.md
Due: markdownlint, prettier

docs: update CHANGELOG.md [kittylog] (#74)
  CHANGELOG.md
Due: markdownlint, prettier

docs(provider): add Crof integration guide and ignore Claude skill docs
  .claude/skills/adding-provider/SKILL.md
  .markdownlint-cli2.yaml
Due: markdownlint, prettier

feat(crof): add Crof.ai as an OpenAI-compatible provider
  README.md
  src/gac/model_cli.py
  src/gac/providers/__init__.py
  src/gac/providers/crof.py
  tests/providers/test_crof.py
  tests/test_ai.py
  tests/test_model_cli_providers.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

chore(model_cli): update Crof.ai model identifier
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

fix(providers): handle inconsistent completion token reporting across providers
  src/gac/providers/base.py
  tests/providers/test_base_coverage.py
  tests/providers/test_crof.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.26.0 to 3.27.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs(skills): rename skill documentation to top-level skills directory
  skills/adding-provider/SKILL.md
Due: markdownlint, prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{md,yaml,yml,json}
  ruff-lint: any of: *.py, but not: ^(\.venv/|_deprecated/)
  ruff-format: any of: *.py, but not: ^(\.venv/|_deprecated/)
  mypy: any of: *.py, but not: ^(\.venv/|_deprecated/|tests/)
