Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
    prettier:
      glob: "*.{md,yaml,yml,json}"
      run: npx prettier@3.1.0 --write {staged_files}
      stage_fixed: true
    ruff-lint:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff format {staged_files}
      stage_fixed: true
    mypy:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/|tests/)
      run: uv run -- mypy src/gac --strict
    check-upstream:
      run: .githooks/check-upstream

feat(editor): add external $EDITOR support with GAC_EDITOR override
  src/gac/editor.py
  src/gac/utils.py
  src/gac/workflow_utils.py
  tests/test_editor_external.py
  tests/test_interactive_editing.py
  tests/test_utils.py
  tests/test_workflow_utils.py
Due: ruff-lint, ruff-format, mypy

chore(model): update Wafer.ai model to Qwen3.5-397B-A17B
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.20.1 to 3.21.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

refactor(cli): standardize Qwen Cloud provider naming conventions
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

feat(editor): add interactive editor selection for commit messages
  .gac.env.example
  src/gac/cli.py
  src/gac/editor_cli.py
  src/gac/init_cli.py
  tests/test_cli.py
  tests/test_editor_cli.py
Due: ruff-lint, ruff-format, mypy

docs(usage): add gac editor command documentation across all languages
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

chore(version): bump version from 3.21.0 to 3.21.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.21.1 to 3.22.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

test(oauth): add comprehensive ChatGPT OAuth flow and token management tests
  tests/oauth/test_chatgpt_oauth_flow.py
  tests/oauth/test_chatgpt_server.py
  tests/oauth/test_chatgpt_tokens.py
Due: ruff-lint, ruff-format

test(providers): add API provider unit tests and coverage improvements
  tests/providers/test_chatgpt_oauth_provider.py
  tests/providers/test_gemini_coverage.py
  tests/providers/test_lmstudio_coverage.py
  tests/providers/test_provider_coverage.py
Due: ruff-lint, ruff-format

test(cli,core): add CLI command tests and utility coverage improvements
  tests/test_auth_cli.py
  tests/test_stats_init_coverage.py
  tests/test_utils_coverage.py
Due: ruff-lint, ruff-format

docs(readme): format project name with code style backticks
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

fix(cli): update ChatGPT OAuth model to gpt-5.4-mini
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

refactor(oauth): extract shared base, consolidate ChatGPT to single file
  src/gac/oauth/base.py
  src/gac/oauth/chatgpt.py
  src/gac/oauth/chatgpt_config.py
  src/gac/oauth/chatgpt_server.py
  src/gac/oauth/chatgpt_tokens.py
  src/gac/oauth/claude_code.py
  src/gac/providers/chatgpt_oauth.py
  tests/conftest.py
  tests/oauth/conftest.py
  tests/oauth/test_base_flow.py
  tests/oauth/test_base_infra.py
  tests/oauth/test_chatgpt_oauth.py
  tests/oauth/test_chatgpt_oauth_flow.py
  tests/oauth/test_chatgpt_server.py
  tests/oauth/test_chatgpt_tokens.py
  tests/oauth/test_claude_code_oauth.py
  tests/oauth/test_claude_code_oauth_extended.py
Due: ruff-lint, ruff-format, mypy

feat(copilot): add GitHub Copilot OAuth authentication with Device Flow
  src/gac/oauth/copilot.py
  tests/oauth/test_copilot_oauth.py
Due: ruff-lint, ruff-format, mypy

feat(copilot): add CopilotProvider for OpenAI-compatible API access
  src/gac/providers/__init__.py
  src/gac/providers/copilot.py
  tests/providers/test_copilot_provider.py
Due: ruff-lint, ruff-format, mypy

feat(copilot): integrate Copilot authentication into CLI and utilities
  src/gac/ai_utils.py
  src/gac/auth_cli.py
  tests/conftest.py
  tests/test_ai.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.22.0 to 3.23.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs(copilot): add comprehensive GitHub Copilot authentication guide
  docs/de/GITHUB_COPILOT.md
  docs/en/GITHUB_COPILOT.md
  docs/es/GITHUB_COPILOT.md
  docs/fr/GITHUB_COPILOT.md
  docs/hi/GITHUB_COPILOT.md
  docs/it/GITHUB_COPILOT.md
  docs/ja/GITHUB_COPILOT.md
  docs/ko/GITHUB_COPILOT.md
  docs/nl/GITHUB_COPILOT.md
  docs/no/GITHUB_COPILOT.md
  docs/pt/GITHUB_COPILOT.md
  docs/ru/GITHUB_COPILOT.md
  docs/sv/GITHUB_COPILOT.md
  docs/vi/GITHUB_COPILOT.md
  docs/zh-CN/GITHUB_COPILOT.md
  docs/zh-TW/GITHUB_COPILOT.md
Due: markdownlint, prettier

docs(readme): add GitHub Copilot to supported providers list
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

docs(usage): document Copilot CLI commands and setup references
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

docs(troubleshooting): add GitHub Copilot troubleshooting guidance
  docs/de/TROUBLESHOOTING.md
  docs/en/TROUBLESHOOTING.md
  docs/es/TROUBLESHOOTING.md
  docs/fr/TROUBLESHOOTING.md
  docs/hi/TROUBLESHOOTING.md
  docs/it/TROUBLESHOOTING.md
  docs/ja/TROUBLESHOOTING.md
  docs/ko/TROUBLESHOOTING.md
  docs/nl/TROUBLESHOOTING.md
  docs/no/TROUBLESHOOTING.md
  docs/pt/TROUBLESHOOTING.md
  docs/ru/TROUBLESHOOTING.md
  docs/sv/TROUBLESHOOTING.md
  docs/vi/TROUBLESHOOTING.md
  docs/zh-CN/TROUBLESHOOTING.md
  docs/zh-TW/TROUBLESHOOTING.md
Due: markdownlint, prettier

feat(model): add Copilot OAuth device-flow support and update Copilot defaults/messages
  src/gac/auth_cli.py
  src/gac/model_cli.py
  src/gac/oauth/copilot.py
  tests/oauth/test_copilot_oauth.py
Due: ruff-lint, ruff-format, mypy

refactor(oauth): centralize OAuth token refresh and delegate ChatGPT to it
  src/gac/oauth/base.py
  src/gac/oauth/chatgpt.py
  tests/oauth/test_chatgpt_oauth.py
Due: ruff-lint, ruff-format, mypy

refactor(copilot): remove stale DEFAULT_COPILOT_MODELS and simplify post-login hint
  src/gac/oauth/copilot.py
Due: ruff-lint, ruff-format, mypy

test(copilot): remove assertions tied to removed DEFAULT_COPILOT_MODELS
  tests/oauth/test_copilot_oauth.py
Due: ruff-lint, ruff-format

refactor(auth_cli): stop importing removed model list and update Copilot usage hint
  src/gac/auth_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.23.0 to 3.23.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

fix(model): rename Copilot OAuth to GitHub Copilot and align provider key
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

feat(chatgpt): switch OAuth provider to the Responses API
  src/gac/oauth/chatgpt.py
  src/gac/providers/chatgpt_oauth.py
  tests/providers/test_chatgpt_oauth_provider.py
Due: ruff-lint, ruff-format, mypy

feat(stats): add full model usage and speed breakdown
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

docs(usage): document the new model statistics view
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

feat(stats): add latency metrics to model aggregates
  src/gac/stats/store.py
Due: ruff-lint, ruff-format, mypy

feat(stats): show latency comparisons in the CLI
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

feat(stats): add all-projects stats view
  src/gac/stats_cli.py
  tests/test_stats_cli.py
  tests/test_stats_cli_project.py
Due: ruff-lint, ruff-format, mypy

docs(readme): update project stats examples to use stats projects
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

docs(usage): document the all-projects stats command
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

chore(version): bump version from 3.23.1 to 3.24.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy
