Repository vinsidious/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
    prettier:
      glob: "*.{md,yaml,yml,json}"
      run: npx prettier@3.1.0 --write {staged_files}
      stage_fixed: true
    ruff-lint:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff format {staged_files}
      stage_fixed: true
    check-upstream:
      run: .githooks/check-upstream

chore(version): bump version from 1.10.0 to 1.10.1
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

test(providers): add API key fixtures for edge case tests
  tests/providers/test_groq.py
  tests/providers/test_zai.py
Due: ruff-lint, ruff-format

chore(version): bump version from 1.10.1 to 1.10.2
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

docs(readme): improve command descriptions and examples
  README.md
Due: markdownlint, prettier

docs(readme): refine project description to focus on benefits
  README.md
Due: markdownlint, prettier

feat(providers): add Together AI provider integration
  .gac.env.example
  README.md
  src/gac/ai.py
  src/gac/ai_utils.py
  src/gac/providers/__init__.py
  src/gac/providers/together.py
  tests/providers/test_together.py
Due: markdownlint, prettier, ruff-lint, ruff-format

feat(providers): add Minimax AI provider support
  .gac.env.example
  README.md
  src/gac/ai.py
  src/gac/ai_utils.py
  src/gac/init_cli.py
  src/gac/providers/__init__.py
  src/gac/providers/minimax.py
  tests/providers/test_minimax.py
Due: markdownlint, prettier, ruff-lint, ruff-format

docs(contributing): add comprehensive guide for adding new AI providers
  docs/CONTRIBUTING.md
Due: markdownlint, prettier

chore(version): bump version from 1.10.2 to 1.11.0
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

style(minimax): standardize MiniMax branding across codebase
  README.md
  docs/CONTRIBUTING.md
  src/gac/init_cli.py
  src/gac/providers/minimax.py
  tests/providers/test_minimax.py
Due: markdownlint, prettier, ruff-lint, ruff-format

feat(cli): add Together AI provider with updated test model
  src/gac/init_cli.py
  tests/providers/test_together.py
Due: ruff-lint, ruff-format

chore(version): bump to version 1.11.1
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

feat(providers): add DeepSeek API provider integration
  .gac.env.example
  README.md
  src/gac/ai.py
  src/gac/ai_utils.py
  src/gac/init_cli.py
  src/gac/providers/__init__.py
  src/gac/providers/deepseek.py
  tests/providers/test_deepseek.py
Due: markdownlint, prettier, ruff-lint, ruff-format

chore(version): bump version from 1.11.1 to 1.12.0
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

fix: Adopt systemInstruction for Gemini API and improve response parsing
  CHANGELOG.md
  src/gac/__version__.py
  src/gac/providers/gemini.py
  tests/providers/test_gemini.py
Due: markdownlint, prettier, ruff-lint, ruff-format

fix: Add type hints and linting to Gemini text extraction
  src/gac/providers/gemini.py
Due: ruff-lint, ruff-format

test(gemini): update model references and add integration test
  tests/providers/test_gemini.py
Due: ruff-lint, ruff-format

chore(version): bump version to 1.12.1
  .bumpversion.toml
Due: none

feat(providers): add custom Anthropic and OpenAI endpoint support
  .gac.env.example
  README.md
  src/gac/ai.py
  src/gac/ai_utils.py
  src/gac/init_cli.py
  src/gac/providers/__init__.py
  src/gac/providers/custom_anthropic.py
  src/gac/providers/custom_openai.py
  tests/providers/test_custom_anthropic.py
  tests/providers/test_custom_openai.py
Due: markdownlint, prettier, ruff-lint, ruff-format

docs(assets): replace usage screenshot with dark mode version
  assets/gac-simple-usage.png
Due: none

chore(version): bump version from 1.12.1 to 1.13.0
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

docs: fix grammar in README provider list
  README.md
Due: markdownlint, prettier

feat(prompt): add AI reasoning tags cleanup for commit messages
  src/gac/prompt.py
  tests/test_prompt.py
Due: ruff-lint, ruff-format

chore(build): bump version from 1.13.0 to 1.13.1
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

feat(prompt): add support for custom system prompts
  .gac.env.example
  README.md
  USAGE.md
  custom_system_prompt.example.txt
  docs/CUSTOM_SYSTEM_PROMPTS.md
  src/gac/config.py
  src/gac/constants.py
  src/gac/main.py
  src/gac/prompt.py
  tests/test_prompt.py
  tests/test_scope_flag.py
  tests/test_token_usage.py
Due: markdownlint, prettier, ruff-lint, ruff-format

refactor(preprocess): change string joining to use newlines for better output formatting
  src/gac/preprocess.py
Due: ruff-lint, ruff-format

chore(version): bump version to 1.14.0
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

feat(cli): add interactive language selector for commit messages
  .gac.env.example
  README.md
  USAGE.md
  docs/CUSTOM_SYSTEM_PROMPTS.md
  src/gac/cli.py
  src/gac/config.py
  src/gac/language_cli.py
  src/gac/main.py
  src/gac/prompt.py
  tests/test_prompt.py
Due: markdownlint, prettier, ruff-lint, ruff-format

feat(config): add option to translate conventional commit prefixes
  .gac.env.example
  USAGE.md
  docs/CUSTOM_SYSTEM_PROMPTS.md
  src/gac/config.py
  src/gac/language_cli.py
  src/gac/main.py
  src/gac/prompt.py
  tests/test_prompt.py
Due: markdownlint, prettier, ruff-lint, ruff-format

feat(cli): add prefix translation option for language selection
  src/gac/language_cli.py
Due: ruff-lint, ruff-format

feat(cli): add language flag for multilingual commit messages
  USAGE.md
  src/gac/cli.py
  src/gac/main.py
  src/gac/prompt.py
  tests/test_prompt.py
  tests/test_scope_flag.py
  tests/test_token_usage.py
Due: markdownlint, prettier, ruff-lint, ruff-format

docs(readme): add multilingual support section
  README.md
Due: markdownlint, prettier

feat(cli): add language selection for commit messages
  src/gac/init_cli.py
Due: ruff-lint, ruff-format

feat(cli): add language code support for commit messages
  USAGE.md
  src/gac/cli.py
  src/gac/constants.py
  tests/test_init_cli.py
  tests/test_language_codes.py
Due: markdownlint, prettier, ruff-lint, ruff-format

chore(version): bump version from 1.14.0 to 1.15.0
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

feat(cli): simplify interactive feedback mechanism
  README.md
  USAGE.md
  src/gac/main.py
  tests/test_token_usage.py
Due: markdownlint, prettier, ruff-lint, ruff-format

refactor(prompt): update commit message formatting guidelines
  src/gac/prompt.py
Due: ruff-lint, ruff-format

refactor(cli): improve commit confirmation prompt clarity
  src/gac/main.py
Due: ruff-lint, ruff-format

chore(version): bump to 2.0.0
  .bumpversion.toml
  src/gac/__version__.py
Due: ruff-lint, ruff-format

test(cli): add comprehensive test coverage for language CLI functionality
  tests/test_language_cli.py
Due: ruff-lint, ruff-format
