Repository vinsidious/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
    prettier:
      glob: "*.{md,yaml,yml,json}"
      run: npx prettier@3.1.0 --write {staged_files}
      stage_fixed: true
    ruff-lint:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff format {staged_files}
      stage_fixed: true
    check-upstream:
      run: .githooks/check-upstream

test(language): add integration tests for language feature configuration and git integration
  tests/test_language_integration.py
Due: ruff-lint, ruff-format

build(makefile): allow prettier command override via environment variable
  Makefile
Due: none

test(init): add comprehensive extended tests for CLI initialization
  tests/test_init_cli_extended.py
Due: ruff-lint, ruff-format

test(prompt,security): add comprehensive extended test coverage
  tests/test_prompt_extended.py
  tests/test_security_extended.py
Due: ruff-lint, ruff-format

feat(providers): add Mistral AI provider integration
  .gac.env.example
  README.md
  src/gac/ai.py
  src/gac/ai_utils.py
  src/gac/init_cli.py
  src/gac/providers/__init__.py
  src/gac/providers/mistral.py
  tests/providers/test_mistral.py
Due: markdownlint, prettier, ruff-lint, ruff-format

feat(cerebras): update default model to zai-glm-4.6
  src/gac/init_cli.py
  tests/providers/test_cerebras.py
Due: ruff-lint, ruff-format

refactor(i18n): centralize language list in constants module
  src/gac/constants.py
  src/gac/init_cli.py
  src/gac/language_cli.py
Due: ruff-lint, ruff-format
