Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
    prettier:
      glob: "*.{md,yaml,yml,json}"
      run: npx prettier@3.1.0 --write {staged_files}
      stage_fixed: true
    ruff-lint:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff format {staged_files}
      stage_fixed: true
    mypy:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/|tests/)
      run: uv run -- mypy src/gac --strict
    check-upstream:
      run: .githooks/check-upstream

chore(version): bump version from 3.15.0 to 3.16.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

feat(stats): integrate stats recording into commit workflows
  src/gac/commit_executor.py
  src/gac/grouped_commit_workflow.py
  tests/test_commit_executor.py
  tests/test_group_staged_vs_unstaged.py
  tests/test_scope_flag.py
  tests/test_token_usage.py
Due: ruff-lint, ruff-format, mypy

feat(stats): add usage statistics tracking module
  src/gac/stats.py
  tests/test_stats.py
Due: ruff-lint, ruff-format, mypy

feat(cli): add stats command for viewing usage statistics
  src/gac/cli.py
  src/gac/stats_cli.py
  tests/test_stats_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.16.0 to 3.17.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

refactor(stats): enhance tracking with project-level metrics and weekly aggregation
  src/gac/stats.py
Due: ruff-lint, ruff-format, mypy

refactor(workflow): move stats tracking to workflow level
  src/gac/commit_executor.py
  src/gac/grouped_commit_workflow.py
  src/gac/main.py
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

feat(stats): enhance CLI display with detailed metrics and project view
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

docs(config): add GAC_DISABLE_STATS environment variable documentation
  .gac.env.example
  src/gac/init_cli.py
Due: ruff-lint, ruff-format, mypy

test(stats): update tests for enhanced tracking and workflow changes
  tests/test_commit_executor.py
  tests/test_group_staged_vs_unstaged.py
  tests/test_scope_flag.py
  tests/test_stats.py
  tests/test_stats_cli.py
  tests/test_token_usage.py
Due: ruff-lint, ruff-format

refactor(stats): reorder notification display to prioritize streak records
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

docs(stats): add usage statistics feature documentation
  README.md
  docs/de/README.md
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/README.md
  docs/es/USAGE.md
  docs/fr/README.md
  docs/fr/USAGE.md
  docs/hi/README.md
  docs/hi/USAGE.md
  docs/it/README.md
  docs/it/USAGE.md
  docs/ja/README.md
  docs/ja/USAGE.md
  docs/ko/README.md
  docs/ko/USAGE.md
  docs/nl/README.md
  docs/nl/USAGE.md
  docs/no/README.md
  docs/no/USAGE.md
  docs/pt/README.md
  docs/pt/USAGE.md
  docs/ru/README.md
  docs/ru/USAGE.md
  docs/sv/README.md
  docs/sv/USAGE.md
  docs/vi/README.md
  docs/vi/USAGE.md
  docs/zh-CN/README.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/README.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

docs(readme): remove analytics section and promotional footer text
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

chore(version): bump version from 3.17.0 to 3.17.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

style(cli): enhance visual formatting of statistics display
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.17.1 to 3.17.2
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs: update CHANGELOG.md [kittylog]
  CHANGELOG.md
Due: markdownlint, prettier

docs: update CHANGELOG.md [kittylog] (#71)
  CHANGELOG.md
Due: markdownlint, prettier

feat(stats): add token usage tracking across models and projects
  src/gac/stats.py
  tests/test_stats.py
Due: ruff-lint, ruff-format, mypy

feat(stats-cli): display token usage statistics in visual output
  src/gac/stats_cli.py
  tests/test_stats_cli.py
Due: ruff-lint, ruff-format, mypy

feat(workflow): record token usage for grouped commits workflow
  src/gac/grouped_commit_workflow.py
Due: ruff-lint, ruff-format, mypy

feat(workflow): integrate token recording into commit message display
  src/gac/workflow_utils.py
  tests/test_token_recording.py
Due: ruff-lint, ruff-format, mypy

feat(main): record token usage for single commit workflow
  src/gac/main.py
Due: ruff-lint, ruff-format, mypy

feat(mcp): record token usage for MCP server commit tool
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

test: update mocks to include record_tokens in existing tests
  tests/test_scope_flag.py
  tests/test_token_usage.py
Due: ruff-lint, ruff-format

feat(init): add stats configuration to init workflow
  src/gac/init_cli.py
  tests/test_init_cli.py
  tests/test_init_cli_extended.py
Due: ruff-lint, ruff-format, mypy

feat(init): add option to delete stats history when disabling
  src/gac/init_cli.py
  tests/test_init_cli.py
Due: ruff-lint, ruff-format, mypy

fix(stats): improve GAC_DISABLE_STATS environment variable parsing
  src/gac/stats.py
  src/gac/stats_cli.py
  tests/test_stats.py
Due: ruff-lint, ruff-format, mypy

feat(cli): add helpful tip about model selection for commit messages
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

feat(stats): improve stats configuration UX with better state handling
  src/gac/init_cli.py
  tests/test_init_cli.py
Due: ruff-lint, ruff-format, mypy

style(ui): enhance table column styling for better readability
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

docs(stats): update documentation for token tracking and opt-in behavior
  README.md
  docs/en/USAGE.md
Due: markdownlint, prettier

docs(stats): update usage docs with token tracking, model stats, and opt-in details
  docs/de/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

docs(readme): add token tracking and model stats to feature highlights
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

feat(providers): return timing and token data from generate()
  src/gac/ai.py
  src/gac/ai_utils.py
  src/gac/providers/base.py
  src/gac/providers/protocol.py
  src/gac/providers/qwen.py
  src/gac/providers/registry.py
  src/gac/providers/replicate.py
  src/gac/utils.py
Due: ruff-lint, ruff-format, mypy

feat(stats): add per-model speed tracking with tokens-per-second
  src/gac/grouped_commit_workflow.py
  src/gac/interactive_mode.py
  src/gac/main.py
  src/gac/mcp/server.py
  src/gac/stats.py
  src/gac/stats_cli.py
  tests/test_stats.py
Due: ruff-lint, ruff-format, mypy

refactor(providers): introduce ParsedResponse dataclass for structured API response parsing
  src/gac/providers/base.py
Due: ruff-lint, ruff-format, mypy

test(providers): update GenericHTTPProvider tests for ParsedResponse return type
  tests/providers/test_base.py
Due: ruff-lint, ruff-format

refactor(providers): adapt concrete providers to return ParsedResponse
  src/gac/providers/custom_anthropic.py
  src/gac/providers/gemini.py
  src/gac/providers/lmstudio.py
  src/gac/providers/ollama.py
  src/gac/providers/qwen.py
Due: ruff-lint, ruff-format, mypy
