Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

markdownlint:
  run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}

prettier:
  run: npx prettier@3.1.0 --write {staged_files}
  stage_fixed: true

ruff-lint:
  run: uvx ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uvx ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run -- mypy src/gac --strict

test(model_cli): add comprehensive coverage for provider configuration
  tests/test_model_cli_missing_coverage.py
Due: ruff-lint, ruff-format

test(oauth): add comprehensive test suite for Claude Code OAuth functionality
  tests/oauth/test_claude_code_oauth_extended.py
Due: ruff-lint, ruff-format

test(grouped-workflow): add comprehensive coverage tests for edge cases
  tests/test_grouped_workflow_missing_coverage.py
Due: ruff-lint, ruff-format

test(config): add OAuth token isolation fixture for test safety
  tests/conftest.py
Due: ruff-lint, ruff-format

test(ai_utils): add comprehensive test coverage for token counting and AI utilities
  tests/test_ai_utils_additional.py
  tests/test_ai_utils_missing_coverage.py
Due: ruff-lint, ruff-format

test(preprocess): expand diff preprocessing and filtering test coverage
  tests/test_preprocess_additional.py
Due: ruff-lint, ruff-format

test(git_validator): extend validation and secret detection test coverage
  tests/test_git_state_validator_extended.py
Due: ruff-lint, ruff-format

test(qwen_oauth): enhance OAuth implementation test coverage
  tests/test_qwen_oauth_additional.py
Due: ruff-lint, ruff-format

test(utils): standardize test file naming conventions
  tests/test_grouped_commit_workflow_additional.py
  tests/test_model_cli_additional.py
  tests/test_utils_additional.py
Due: ruff-lint, ruff-format

test(validator): update secret detection test for quiet mode behavior
  tests/test_git_state_validator_extended.py
Due: ruff-lint, ruff-format

test(preprocess): refine preprocessing test assertions and simplify content
  tests/test_preprocess_additional.py
Due: ruff-lint, ruff-format

test(validator): remove outdated staging validation test
  tests/test_git_state_validator_extended.py
Due: ruff-lint, ruff-format

test(conftest): enhance OAuth token isolation in test fixtures
  tests/conftest.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.10.13 to 3.10.14
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

fix(model): update Mistral model identifier
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.10.14 to 3.10.15
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

test(config): improve test isolation for config show command
  tests/test_config_cli.py
Due: ruff-lint, ruff-format

test(oauth): fix mock target for print function in qwen oauth test
  tests/test_qwen_oauth_additional.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.10.15 to 3.10.16
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

test(auth): fix browser launch test by mocking _should_launch_browser
  tests/test_qwen_oauth_additional.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.10.16 to 3.10.17
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

build(version): include diff in release command
  Makefile
Due: none

docs(changelog): enhance changelog with clearer descriptions and better formatting
  CHANGELOG.md
Due: markdownlint, prettier

test(model): add comprehensive API key handling tests
  tests/test_model_cli_api_keys.py
Due: ruff-lint, ruff-format

test(model): add comprehensive provider configuration tests
  tests/test_model_cli_providers.py
Due: ruff-lint, ruff-format

test(model): add Azure OpenAI configuration tests
  tests/test_model_cli_azure.py
Due: ruff-lint, ruff-format

✨ feat: add custom system prompt management CLI
  src/gac/cli.py
  src/gac/prompt_cli.py
  tests/test_prompt_cli.py
Due: ruff-lint, ruff-format, mypy

refactor: remove unused --show-system-prompt CLI option
  src/gac/cli.py
Due: ruff-lint, ruff-format, mypy

refactor: replace direct template import with dynamic loader function
  src/gac/prompt_cli.py
Due: ruff-lint, ruff-format, mypy

style(prompt): add type hints to function signatures
  src/gac/prompt_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.10.17 to 3.11.0
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

docs: update changelog for None
  CHANGELOG-users.md
Due: markdownlint, prettier

refactor: replace tiktoken with character-based token estimation
  pyproject.toml
  src/gac/ai_utils.py
  src/gac/config.py
  src/gac/constants/defaults.py
  tests/test_ai.py
  tests/test_ai_utils.py
  tests/test_ai_utils_additional.py
  tests/test_ai_utils_extended.py
  tests/test_config.py
  tests/test_constants.py
  uv.lock
Due: ruff-lint, ruff-format, mypy

fix: remove no_tiktoken config test assertion
  tests/test_config.py
Due: ruff-lint, ruff-format

refactor: replace tiktoken with character-based token estimation (#64)
  pyproject.toml
  src/gac/ai_utils.py
  src/gac/config.py
  src/gac/constants/defaults.py
  tests/test_ai.py
  tests/test_ai_utils.py
  tests/test_ai_utils_additional.py
  tests/test_ai_utils_extended.py
  tests/test_config.py
  tests/test_constants.py
  uv.lock
Due: ruff-lint, ruff-format, mypy

feat(cli): update model provider configurations with latest versions
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(build): remove uvx kittylog release command from version bump
  Makefile
Due: none

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{md,yaml,yml,json}
  ruff-lint: any of: *.py, but not: ^(\.venv/|_deprecated/)
  ruff-format: any of: *.py, but not: ^(\.venv/|_deprecated/)
  mypy: any of: *.py, but not: ^(\.venv/|_deprecated/|tests/)
