Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

markdownlint:
  run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}

prettier:
  run: npx prettier@3.1.0 --write {staged_files}
  stage_fixed: true

ruff-lint:
  run: uvx ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uvx ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run -- mypy src/gac --strict

fix(docs): correct broken MCP links in translated documentation
  docs/de/README.md
  docs/es/MCP.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/MCP.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/MCP.md
  docs/nl/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/MCP.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

docs(mcp): remove Claude Desktop setup section
  docs/de/MCP.md
  docs/en/MCP.md
  docs/es/MCP.md
  docs/fr/MCP.md
  docs/hi/MCP.md
  docs/it/MCP.md
  docs/ja/MCP.md
  docs/ko/MCP.md
  docs/nl/MCP.md
  docs/no/MCP.md
  docs/pt/MCP.md
  docs/ru/MCP.md
  docs/sv/MCP.md
  docs/vi/MCP.md
  docs/zh-CN/MCP.md
  docs/zh-TW/MCP.md
Due: markdownlint, prettier

chore(version): bump version to 3.14.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

fix: resolve mypy strict type errors in mcp/server.py
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

test: add coverage for _stderr_console_redirect to verify patching and restoration of module consoles
  tests/test_mcp_server.py
Due: ruff-lint, ruff-format

test(server): add comprehensive unit tests for MCP server helpers
  tests/test_mcp_server.py
Due: ruff-lint, ruff-format

test(mcp): condense diff string literals in test cases
  tests/test_mcp_server.py
Due: ruff-lint, ruff-format

test(oauth): add comprehensive OAuth flow tests for Claude Code
  tests/oauth/test_claude_code_oauth.py
Due: ruff-lint, ruff-format

test(providers): add runtime checkability tests for ProviderProtocol
  tests/providers/test_protocol.py
Due: ruff-lint, ruff-format

test(cli): add model and prompt CLI configuration tests
  tests/test_model_cli.py
  tests/test_prompt_cli.py
Due: ruff-lint, ruff-format

test(providers): enhance error handling and base provider tests
  tests/providers/test_base.py
  tests/providers/test_replicate.py
Due: ruff-lint, ruff-format

test(workflow): add grouped commit and MCP server tool tests
  tests/test_grouped_commit_workflow_additional.py
  tests/test_mcp_server.py
Due: ruff-lint, ruff-format

test(providers): add edge case tests for Qwen and Custom Anthropic
  tests/providers/test_custom_anthropic.py
  tests/providers/test_qwen.py
Due: ruff-lint, ruff-format

style(test): standardize code formatting across test files
  tests/providers/test_custom_anthropic.py
  tests/test_grouped_commit_workflow_additional.py
  tests/test_mcp_server.py
  tests/test_model_cli.py
  tests/test_prompt_cli.py
Due: ruff-lint, ruff-format

refactor(providers): add type annotation for config attribute
  src/gac/providers/base.py
Due: ruff-lint, ruff-format, mypy

fix(fireworks): cap max_tokens at 4096 for non-streaming requests
  src/gac/providers/fireworks.py
  tests/providers/test_fireworks.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.14.0 to 3.14.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs(provider): document Wafer.ai as supported provider
  .gac.env.example
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

feat(provider): add Wafer.ai provider support
  src/gac/model_cli.py
  src/gac/providers/__init__.py
  src/gac/providers/wafer.py
Due: ruff-lint, ruff-format, mypy

test(provider): add Wafer.ai provider tests
  tests/providers/test_wafer.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.14.1 to 3.14.2
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

chore(model): update default model versions to latest available
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.14.2 to 3.14.3
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

feat(qwen): add Qwen Cloud API providers with international and China endpoints
  src/gac/providers/__init__.py
  src/gac/providers/qwen.py
Due: ruff-lint, ruff-format, mypy

test(qwen): add comprehensive tests for Qwen Cloud API providers
  tests/providers/test_qwen_api.py
Due: ruff-lint, ruff-format

docs(readme): add Qwen Cloud (API) to supported providers list
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

fix(model): update OpenAI default model from gpt-5-mini to gpt-5.4-mini
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.14.3 to 3.14.4
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

feat(qwen): replace OAuth provider with deprecation stub after Qwen Code discontinuation
  src/gac/ai_utils.py
  src/gac/auth_cli.py
  src/gac/model_cli.py
  src/gac/oauth/__init__.py
  src/gac/oauth/qwen_oauth.py
  src/gac/oauth_retry.py
  src/gac/providers/qwen.py
Due: ruff-lint, ruff-format, mypy

test(qwen): update tests for OAuth deprecation and API-only migration
  tests/conftest.py
  tests/oauth/test_qwen_oauth.py
  tests/providers/test_qwen.py
  tests/providers/test_qwen_api.py
  tests/test_ai.py
  tests/test_auth_cli.py
  tests/test_model_cli.py
  tests/test_oauth_retry.py
  tests/test_qwen_oauth_additional.py
Due: ruff-lint, ruff-format

feat(claude-code): add unsanctioned use warning for OAuth token usage
  docs/de/CLAUDE_CODE.md
  docs/en/CLAUDE_CODE.md
  docs/es/CLAUDE_CODE.md
  docs/fr/CLAUDE_CODE.md
  docs/hi/CLAUDE_CODE.md
  docs/it/CLAUDE_CODE.md
  docs/ja/CLAUDE_CODE.md
  docs/ko/CLAUDE_CODE.md
  docs/nl/CLAUDE_CODE.md
  docs/no/CLAUDE_CODE.md
  docs/pt/CLAUDE_CODE.md
  docs/ru/CLAUDE_CODE.md
  docs/sv/CLAUDE_CODE.md
  docs/vi/CLAUDE_CODE.md
  docs/zh-CN/CLAUDE_CODE.md
  docs/zh-TW/CLAUDE_CODE.md
  src/gac/auth_cli.py
  src/gac/model_cli.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

refactor(init): remove 50/72 rule configuration from setup workflow
  src/gac/init_cli.py
  tests/test_init_cli.py
  tests/test_init_cli_extended.py
Due: ruff-lint, ruff-format, mypy

test(workflow): update tests for conversation-aware confirmation
  tests/test_grouped_commit_workflow_additional.py
  tests/test_grouped_commit_workflow_extended.py
Due: ruff-lint, ruff-format

feat(workflow): pass conversation context on regeneration feedback
  src/gac/grouped_commit_workflow.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.14.4 to 3.15.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

feat(cli): add --signoff option to append Signed-off-by line to commits
  src/gac/cli.py
  src/gac/commit_executor.py
  src/gac/config.py
  src/gac/constants/defaults.py
  src/gac/grouped_commit_workflow.py
  src/gac/main.py
  src/gac/workflow_context.py
  src/gac/workflow_utils.py
Due: ruff-lint, ruff-format, mypy

test(commit): update tests for signoff flag support
  tests/test_always_include_scope.py
  tests/test_cli.py
  tests/test_commit_executor.py
  tests/test_grouped_commit_workflow_extended.py
Due: ruff-lint, ruff-format

docs(signoff): add --signoff flag documentation for DCO compliance
  README.md
  docs/en/USAGE.md
Due: markdownlint, prettier

docs(signoff): translate --signoff flag documentation to all supported languages
  docs/de/README.md
  docs/de/USAGE.md
  docs/es/README.md
  docs/es/USAGE.md
  docs/fr/README.md
  docs/fr/USAGE.md
  docs/hi/README.md
  docs/hi/USAGE.md
  docs/it/README.md
  docs/it/USAGE.md
  docs/ja/README.md
  docs/ja/USAGE.md
  docs/ko/README.md
  docs/ko/USAGE.md
  docs/nl/README.md
  docs/nl/USAGE.md
  docs/no/README.md
  docs/no/USAGE.md
  docs/pt/README.md
  docs/pt/USAGE.md
  docs/ru/README.md
  docs/ru/USAGE.md
  docs/sv/README.md
  docs/sv/USAGE.md
  docs/vi/README.md
  docs/vi/USAGE.md
  docs/zh-CN/README.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/README.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{md,yaml,yml,json}
  ruff-lint: any of: *.py, but not: ^(\.venv/|_deprecated/)
  ruff-format: any of: *.py, but not: ^(\.venv/|_deprecated/)
  mypy: any of: *.py, but not: ^(\.venv/|_deprecated/|tests/)
