Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
    prettier:
      glob: "*.{md,yaml,yml,json}"
      run: npx prettier@3.1.0 --write {staged_files}
      stage_fixed: true
    ruff-lint:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff format {staged_files}
      stage_fixed: true
    mypy:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/|tests/)
      run: uv run -- mypy src/gac --strict
    check-upstream:
      run: .githooks/check-upstream

fix: add pragma no cover to unreachable protocol and dead code
  src/gac/providers/protocol.py
  src/gac/stats_cli.py
Due: ruff-lint, ruff-format, mypy

refactor(mcp): extract utility functions from server to dedicated module
  src/gac/mcp/server.py
  src/gac/mcp/server_utils.py
  tests/test_mcp_server.py
Due: ruff-lint, ruff-format, mypy

refactor(stats): split monolithic module into package for better maintainability
  src/gac/stats.py
  src/gac/stats/__init__.py
  src/gac/stats/recorder.py
  src/gac/stats/store.py
  src/gac/stats/summary.py
  tests/conftest.py
  tests/test_init_cli.py
  tests/test_stats.py
  tests/test_stats_cli_extended.py
Due: ruff-lint, ruff-format, mypy

fix(stats): reset token accumulator on retry to prevent biggest_gac inflation
  src/gac/grouped_commit_workflow.py
  src/gac/main.py
  tests/test_stats.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.19.2 to 3.19.3
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs(plan): remove completed code coverage improvement plan
  plan.md
Due: markdownlint, prettier

fix(git): improve rename mapping detection with ambiguous paths
  src/gac/git.py
  tests/test_git_coverage.py
Due: ruff-lint, ruff-format, mypy

fix(language): handle case-insensitive script names in RTL detection
  src/gac/language_cli.py
  tests/test_language_cli_coverage.py
Due: ruff-lint, ruff-format, mypy

test(providers): add coverage tests for base providers and preprocess
  tests/providers/test_base_coverage.py
  tests/test_preprocess_extended.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.19.3 to 3.19.4
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

fix(git): remove ambiguous header fallback in rename detection
  src/gac/git.py
  tests/test_git_coverage.py
Due: ruff-lint, ruff-format, mypy

refactor(test): split monolithic test files into focused modules
  tests/test_grouped_commit_workflow_additional.py
  tests/test_grouped_commit_workflow_execute.py
  tests/test_mcp_server.py
  tests/test_mcp_utils.py
  tests/test_stats.py
  tests/test_stats_cli_celebration.py
  tests/test_stats_cli_extended.py
  tests/test_stats_cli_project.py
  tests/test_stats_core.py
  tests/test_stats_malformed.py
  tests/test_stats_tokens.py
  tests/test_stats_tracking.py
Due: ruff-lint, ruff-format

refactor(core): consolidate Console singleton and extract utility modules
  src/gac/ai_utils.py
  src/gac/commit_executor.py
  src/gac/editor.py
  src/gac/errors.py
  src/gac/git_state_validator.py
  src/gac/grouped_commit_workflow.py
  src/gac/interactive_mode.py
  src/gac/mcp/server_utils.py
  src/gac/prompt_builder.py
  src/gac/prompt_cli.py
  src/gac/providers/base.py
  src/gac/providers/replicate.py
  src/gac/report_cli.py
  src/gac/stats_cli.py
  src/gac/utils.py
  src/gac/workflow_utils.py
Due: ruff-lint, ruff-format, mypy

refactor(config): extract _parse_bool_env and pass config as parameter
  src/gac/cli.py
  src/gac/config.py
  src/gac/language_cli.py
  src/gac/main.py
  src/gac/model_cli.py
  src/gac/oauth_retry.py
Due: ruff-lint, ruff-format, mypy

refactor(git): extract shared hook runner for pre-commit and lefthook
  src/gac/git.py
Due: ruff-lint, ruff-format, mypy

test: update tests for module extraction and config refactoring
  tests/conftest.py
  tests/test_always_include_scope.py
  tests/test_cli.py
  tests/test_errors.py
  tests/test_git.py
  tests/test_group_workflow.py
  tests/test_main.py
  tests/test_message_only_flag.py
  tests/test_model_cli.py
  tests/test_oauth_retry.py
  tests/test_prompt_builder.py
  tests/test_scope_flag.py
  tests/test_token_recording.py
  tests/test_token_usage.py
  tests/test_utils.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.19.4 to 3.19.5
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

refactor(stats): encapsulate token accumulator state in TokenAccumulator class
  src/gac/stats/recorder.py
  tests/test_stats_malformed.py
  tests/test_stats_tracking.py
Due: ruff-lint, ruff-format, mypy

refactor(config): simplify validation with data-driven approach
  src/gac/config.py
  tests/test_config.py
Due: ruff-lint, ruff-format, mypy

refactor(workflow): introduce WorkflowResult and PromptFn for cleaner interfaces
  src/gac/git_state_validator.py
  src/gac/grouped_commit_workflow.py
  src/gac/interactive_mode.py
  src/gac/main.py
  src/gac/mcp/server.py
  src/gac/workflow_utils.py
  tests/test_group_workflow.py
  tests/test_grouped_commit_workflow_additional.py
  tests/test_grouped_commit_workflow_execute.py
  tests/test_grouped_commit_workflow_extended.py
  tests/test_interactive_mode_full.py
  tests/test_mcp_server.py
  tests/test_token_recording.py
Due: ruff-lint, ruff-format, mypy

refactor(prompt): simplify examples section selection with lookup table
  src/gac/prompt.py
Due: ruff-lint, ruff-format, mypy

style(cli): reorder CLI command registration for logical grouping
  src/gac/cli.py
Due: ruff-lint, ruff-format, mypy

refactor(api): remove unused parameters from get_git_state and display_commit_message
  src/gac/git_state_validator.py
  src/gac/main.py
  src/gac/mcp/server.py
  src/gac/workflow_utils.py
Due: ruff-lint, ruff-format, mypy

perf(pattern): pre-compile and cache regex patterns for repeated use
  src/gac/preprocess.py
  src/gac/security.py
Due: ruff-lint, ruff-format, mypy

refactor(core): simplify redundant code patterns across utilities
  src/gac/ai_utils.py
  src/gac/grouped_commit_workflow.py
  src/gac/postprocess.py
  src/gac/prompt_builder.py
  src/gac/stats/recorder.py
  src/gac/stats/store.py
Due: ruff-lint, ruff-format, mypy

test(git): add comprehensive tests for GitCommandResult
  tests/test_git_command_result.py
  tests/test_git_integration.py
Due: ruff-lint, ruff-format

refactor(git): return explicit result objects instead of strings
  src/gac/git.py
Due: ruff-lint, ruff-format, mypy

refactor(grouped): extract parsing and validation logic
  src/gac/grouped_response_parser.py
  src/gac/grouped_retry_loop.py
  tests/test_grouped_refactored_units.py
Due: ruff-lint, ruff-format, mypy

refactor(grouped): extract commit execution to dedicated module
  src/gac/grouped_commit_executor.py
  tests/test_grouped_staging_integration.py
Due: ruff-lint, ruff-format, mypy

refactor(grouped): delegate to extracted helper modules
  src/gac/grouped_commit_workflow.py
Due: ruff-lint, ruff-format, mypy

refactor(workflow): adopt GitCommandResult API
  src/gac/git_state_validator.py
  src/gac/workflow_utils.py
Due: ruff-lint, ruff-format, mypy

refactor(mcp): adopt explicit result types for git operations
  src/gac/mcp/server.py
  src/gac/mcp/server_utils.py
Due: ruff-lint, ruff-format, mypy

test(git): update mocks for GitCommandResult API
  tests/test_git.py
  tests/test_git_coverage.py
  tests/test_git_state_validator.py
  tests/test_git_state_validator_extended.py
  tests/test_workflow_utils.py
Due: ruff-lint, ruff-format

test(mcp): update tests for new result types
  tests/test_mcp_server.py
  tests/test_mcp_utils.py
Due: ruff-lint, ruff-format

test(grouped): update tests for extracted modules
  tests/test_group_staged_vs_unstaged.py
  tests/test_group_workflow.py
  tests/test_grouped_commit_workflow_additional.py
  tests/test_grouped_commit_workflow_execute.py
  tests/test_grouped_commit_workflow_extended.py
Due: ruff-lint, ruff-format

test(cli): update CLI integration tests for GitCommandResult
  tests/test_message_only_flag.py
  tests/test_scope_flag.py
  tests/test_token_recording.py
  tests/test_token_usage.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.19.5 to 3.20.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

fix(parser): handle non-dict grouped_result gracefully
  src/gac/grouped_response_parser.py
Due: ruff-lint, ruff-format, mypy

test(mcp): update tests to use FileStatus dataclass
  tests/test_mcp_server.py
  tests/test_mcp_utils.py
Due: ruff-lint, ruff-format

chore(version): bump version from 3.20.0 to 3.20.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy
