Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

markdownlint:
  run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}

prettier:
  run: npx prettier@3.1.0 --write {staged_files}
  stage_fixed: true

ruff-lint:
  run: uvx ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uvx ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run -- mypy src/gac --strict

docs(plan): mark type annotation coverage task as completed
  plan.md
Due: markdownlint, prettier

docs(plan): remove refactoring plan document
  plan.md
Due: markdownlint, prettier

chore(version): bump version to 3.10.3
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

test(main): mock config module to fix test failures in GitHub Actions
  tests/test_main.py
Due: ruff-lint, ruff-format

chore(version): bump package version from 3.10.3 to 3.10.4
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs(changelog): update changelog with comprehensive release notes for versions 1.12.1 through 3.10.4
  CHANGELOG.md
Due: markdownlint, prettier

build(makefile): update release process to use kittylog
  Makefile
Due: none

chore(version): bump version from 3.10.4 to 3.10.5
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

chore(build): add audience flag to kittylog release command in version bump process
  Makefile
Due: none

feat(model): add ModelIdentifier value object for parsing model strings
  src/gac/model_identifier.py
  tests/test_main.py
  tests/test_main_validation.py
Due: ruff-lint, ruff-format, mypy

feat(auth): extract OAuth retry handling into reusable module
  src/gac/main.py
  src/gac/oauth_retry.py
Due: ruff-lint, ruff-format, mypy

refactor(constants): split monolithic constants module into logical packages
  src/gac/constants.py
  src/gac/constants/__init__.py
  src/gac/constants/commit.py
  src/gac/constants/defaults.py
  src/gac/constants/file_patterns.py
  src/gac/constants/languages.py
  src/gac/grouped_commit_workflow.py
Due: ruff-lint, ruff-format, mypy

docs(plan): add comprehensive refactoring roadmap and update test mocks
  plan.md
  tests/test_scope_flag.py
Due: markdownlint, prettier, ruff-lint, ruff-format

chore(version): bump version from 3.10.5 to 3.10.6
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

test(core): fix git mocking leaks in test suite
  tests/test_group_staged_vs_unstaged.py
  tests/test_group_workflow.py
  tests/test_message_only_flag.py
Due: ruff-lint, ruff-format

feat(core): introduce WorkflowContext to reduce parameter explosion
  src/gac/main.py
  src/gac/oauth_retry.py
  src/gac/workflow_context.py
  tests/test_main.py
Due: ruff-lint, ruff-format, mypy

docs(plan): update progress tracking with completed task
  plan.md
Due: markdownlint, prettier

chore(version): bump version from 3.10.6 to 3.10.7
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

refactor(core): replace sys.exit() calls with return codes
  plan.md
  src/gac/cli.py
  src/gac/commit_executor.py
  src/gac/git_state_validator.py
  src/gac/grouped_commit_workflow.py
  src/gac/main.py
  src/gac/oauth_retry.py
  tests/test_git_state_validator.py
  tests/test_group_staged_vs_unstaged.py
  tests/test_group_workflow.py
  tests/test_main.py
  tests/test_scope_flag.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

feat(errors): add HookError for pre-commit/lefthook failures
  src/gac/errors.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.10.7 to 3.10.8
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

chore(project): mark template externalization task as completed
  plan.md
Due: markdownlint, prettier

refactor(prompt): externalize template strings to package resources
  src/gac/prompt.py
  src/gac/templates/__init__.py
  src/gac/templates/question_generation.txt
  src/gac/templates/system_prompt.txt
  src/gac/templates/user_prompt.txt
Due: ruff-lint, ruff-format, mypy

refactor(postprocess): create dedicated module for commit message cleaning
  src/gac/postprocess.py
Due: ruff-lint, ruff-format, mypy

refactor(import): update imports to use new postprocess module
  src/gac/__init__.py
  src/gac/main.py
  src/gac/prompt.py
  tests/test_group_staged_vs_unstaged.py
  tests/test_message_only_flag.py
  tests/test_prompt.py
  tests/test_prompt_extended.py
  tests/test_scope_flag.py
Due: ruff-lint, ruff-format, mypy

refactor(core): update module exports and imports
  src/gac/__init__.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.10.8 to 3.10.9
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

chore(docs): remove outdated refactoring plan document
  plan.md
Due: markdownlint, prettier

fix(workflow): improve error handling and staging area restoration
  src/gac/grouped_commit_workflow.py
Due: ruff-lint, ruff-format, mypy

docs(plan): add comprehensive refactoring roadmap
  plan.md
Due: markdownlint, prettier

refactor(config): standardize configuration access patterns
  src/gac/cli.py
  src/gac/grouped_commit_workflow.py
  src/gac/interactive_mode.py
  src/gac/main.py
  tests/test_always_include_scope.py
  tests/test_message_only_flag.py
  tests/test_scope_flag.py
  tests/test_token_usage.py
Due: ruff-lint, ruff-format, mypy

refactor(core): add CLIOptions dataclass to bundle command-line parameters
  plan.md
  src/gac/workflow_context.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

test(core): update tests to use CLIOptions parameter
  tests/test_always_include_scope.py
  tests/test_cli.py
  tests/test_group_staged_vs_unstaged.py
  tests/test_group_workflow.py
  tests/test_main.py
  tests/test_scope_flag.py
Due: ruff-lint, ruff-format

refactor(cli): update main() to accept CLIOptions parameter
  src/gac/cli.py
  src/gac/main.py
Due: ruff-lint, ruff-format, mypy

refactor(ai_utils): move lazy imports to top level in generate_with_retries
  plan.md
  src/gac/ai_utils.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

docs(plan): remove completed refactoring plan document
  plan.md
Due: markdownlint, prettier

chore(version): bump version from 3.10.9 to 3.10.10
  CHANGELOG.md
  src/gac/__version__.py
Due: markdownlint, prettier, ruff-lint, ruff-format, mypy

docs(coverage): add comprehensive code coverage improvement plan
  plan.md
Due: markdownlint, prettier

test(commit-executor): add comprehensive tests for dry-run functionality
  tests/test_commit_executor.py
Due: ruff-lint, ruff-format

test(interactive-mode): add comprehensive tests for question parsing functionality
  tests/test_interactive_mode_parsing.py
Due: ruff-lint, ruff-format

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{md,yaml,yml,json}
  ruff-lint: any of: *.py, but not: ^(\.venv/|_deprecated/)
  ruff-format: any of: *.py, but not: ^(\.venv/|_deprecated/)
  mypy: any of: *.py, but not: ^(\.venv/|_deprecated/|tests/)
