Repository cellwebb/gac: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, ruff-lint, ruff-format, mypy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
    prettier:
      glob: "*.{md,yaml,yml,json}"
      run: npx prettier@3.1.0 --write {staged_files}
      stage_fixed: true
    ruff-lint:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/)
      run: uvx ruff format {staged_files}
      stage_fixed: true
    mypy:
      glob: "*.py"
      exclude: ^(\.venv/|_deprecated/|tests/)
      run: uv run -- mypy src/gac --strict
    check-upstream:
      run: .githooks/check-upstream

docs(changelog): remove user changelog file
  CHANGELOG-users.md
Due: markdownlint, prettier

chore(version): bump to 3.12.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

docs: remove all references to GAC_NO_TIKTOKEN and tiktoken dependency
  AGENTS.md
  CHANGELOG.md
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
  tests/test_ai_utils_additional.py
  tests/test_grouped_commit_workflow_extended.py
Due: markdownlint, prettier, ruff-lint, ruff-format

docs: update Korean translations files with terminology fixes, typo corrections, and clearer explanations
  docs/ko/CLAUDE_CODE.md
  docs/ko/CONTRIBUTING.md
  docs/ko/CUSTOM_SYSTEM_PROMPTS.md
  docs/ko/QWEN.md
  docs/ko/README.md
  docs/ko/USAGE.md
Due: markdownlint, prettier

docs: update documentation for consistent terminology and clarity in Korean translations
  docs/ko/CLAUDE_CODE.md
  docs/ko/CONTRIBUTING.md
  docs/ko/QWEN.md
  docs/ko/README.md
  docs/ko/TROUBLESHOOTING.md
  docs/ko/USAGE.md
Due: markdownlint, prettier

docs: update Korean translations files with terminology fixes, typo (#67)
  docs/ko/CLAUDE_CODE.md
  docs/ko/CONTRIBUTING.md
  docs/ko/CUSTOM_SYSTEM_PROMPTS.md
  docs/ko/QWEN.md
  docs/ko/README.md
  docs/ko/TROUBLESHOOTING.md
  docs/ko/USAGE.md
Due: markdownlint, prettier

docs(cli): promote -g grouping option to common commands table
  README.md
  docs/de/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/hi/README.md
  docs/it/README.md
  docs/ja/README.md
  docs/ko/README.md
  docs/nl/README.md
  docs/no/README.md
  docs/pt/README.md
  docs/ru/README.md
  docs/sv/README.md
  docs/vi/README.md
  docs/zh-CN/README.md
  docs/zh-TW/README.md
Due: markdownlint, prettier

fix(model): update Z.AI and Cerebras model identifiers
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.12.0 to 3.12.1
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

chore: Update model providers to use GLM-5 versions
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

docs: update CHANGELOG.md [kittylog]
  CHANGELOG.md
Due: markdownlint, prettier

docs: update CHANGELOG.md [kittylog] (#69)
  CHANGELOG.md
Due: markdownlint, prettier

feat(prompt): integrate 50/72 rule instructions into AI prompts
  src/gac/prompt.py
  src/gac/prompt_builder.py
  src/gac/templates/system_prompt.txt
Due: ruff-lint, ruff-format, mypy

feat(workflow): apply 50/72 rule during message post-processing
  src/gac/grouped_commit_workflow.py
  src/gac/main.py
Due: ruff-lint, ruff-format, mypy

feat(cli): add 50/72 rule enforcement for commit messages
  src/gac/cli.py
  src/gac/config.py
  src/gac/constants/defaults.py
  src/gac/postprocess.py
  src/gac/workflow_context.py
Due: ruff-lint, ruff-format, mypy

feat(init): add interactive 50/72 rule configuration
  src/gac/init_cli.py
Due: ruff-lint, ruff-format, mypy

test: update mocks for 50/72 rule parameter
  tests/test_cli.py
  tests/test_init_cli.py
  tests/test_init_cli_extended.py
  tests/test_message_only_flag.py
  tests/test_scope_flag.py
  tests/test_token_usage.py
Due: ruff-lint, ruff-format

chore(project): remove outdated tiktoken references from comments and config
  .gac.env.example
  tests/test_ai_utils_additional.py
  tests/test_constants.py
Due: ruff-lint, ruff-format

docs: document 50/72 rule feature and configuration
  .gac.env.example
  CHANGELOG.md
  README.md
  docs/en/USAGE.md
  tests/test_always_include_scope.py
  tests/test_cli.py
Due: markdownlint, prettier, ruff-lint, ruff-format

docs(usage): add documentation for --50-72 flag and GAC_USE_50_72_RULE environment variable
  docs/de/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

feat(ai): add estimated token count display to generation spinner
  src/gac/ai_utils.py
Due: ruff-lint, ruff-format, mypy

chore(version): bump version from 3.12.1 to 3.13.0
  src/gac/__version__.py
Due: ruff-lint, ruff-format, mypy

feat(model): update Claude Code OAuth model to claude-sonnet-4-6
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

chore(model): update MiniMax.io model reference to M2.5
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

fix(model): update Moonshot AI model name to kimi-k2.5
  src/gac/model_cli.py
Due: ruff-lint, ruff-format, mypy

feat(postprocess): improve truncation to respect word boundaries
  src/gac/postprocess.py
  tests/test_postprocess.py
Due: ruff-lint, ruff-format, mypy

docs(usage): improve formatting consistency across documentation
  CHANGELOG.md
  docs/de/USAGE.md
  docs/en/USAGE.md
  docs/es/USAGE.md
  docs/fr/USAGE.md
  docs/hi/USAGE.md
  docs/it/USAGE.md
  docs/ja/USAGE.md
  docs/ko/USAGE.md
  docs/nl/USAGE.md
  docs/no/USAGE.md
  docs/pt/USAGE.md
  docs/ru/USAGE.md
  docs/sv/USAGE.md
  docs/vi/USAGE.md
  docs/zh-CN/USAGE.md
  docs/zh-TW/USAGE.md
Due: markdownlint, prettier

style(test): standardize blank line spacing
  tests/test_cli.py
Due: ruff-lint, ruff-format

feat(mcp): initial implementation of GAC MCP server
  .swarm/project_memory.db
  gac-mcp.sh
  pyproject.toml
  src/gac/mcp/__init__.py
  src/gac/mcp/models.py
  src/gac/mcp/server.py
  uv.lock
Due: ruff-lint, ruff-format, mypy

feat(mcp): add group commit workflow support
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

refactor(mcp): replace gac-mcp entry point with serve subcommand
  pyproject.toml
  src/gac/cli.py
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

feat(mcp): add console output redirection for commit workflow
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

feat(mcp): improve status output formatting with summary and diff truncation
  src/gac/mcp/models.py
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

feat(mcp): add MCP server with status, commit, and group workflow support (#70)
  .swarm/project_memory.db
  gac-mcp.sh
  pyproject.toml
  src/gac/cli.py
  src/gac/mcp/__init__.py
  src/gac/mcp/models.py
  src/gac/mcp/server.py
  uv.lock
Due: ruff-lint, ruff-format, mypy

style(mcp): consolidate multi-line expressions into single lines
  src/gac/mcp/models.py
  src/gac/mcp/server.py
Due: ruff-lint, ruff-format, mypy

chore(swarm): remove project memory database file
  .swarm/project_memory.db
Due: none

chore(scripts): remove gac-mcp.sh wrapper script
  gac-mcp.sh
Due: none

docs(mcp): add MCP server usage documentation
  README.md
  docs/en/MCP.md
  docs/en/USAGE.md
Due: markdownlint, prettier
